@{
  Layout = "_Layout";
}
@model string

<h1 class="bg-info text-white">Create a role</h1>
<p class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Go Back", "Index")</p>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "Role"))
{
  <div class="form-group">
    <label for="name">Name:</label>
    <input name="name" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
}
