@{
  Layout ="_Layout";
}

@using Library.Models;
@model Library.Models.ApplicationUser

<h1>@User.Identity.Name's Books</h1>
@if (Model.JoinUserBooks.Count == 0)
{
  <p> you have no books</p>
}
else
{
  @foreach (var join in Model.JoinUserBooks)
  {
    @Html.ActionLink($"{join.Book.Title}", "Details", new {id = join.Book.BookId})
    <br>
  }
}
<p>@Html.ActionLink("View All Books", "Index", "Books")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>